// #container {
//   text-align: center;

//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;

//   color: #8c8c8c;

//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }

/* dashboard.component.scss */
ion-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust size as needed */
}
.ion-page {
  display: flex;
  flex-direction: column;
  height: 100%;  /* Full height but allows internal flex distribution */
}

ion-content {
  flex-grow: 1;  /* Allows content to expand within available space, pushing footer to bottom */
}
